q1: Write a Python program to return a new set with unique items from both sets by removing duplicates.

In [43]:
set1={1,2,3,4,5,6,7}
set2={4,5,6,7,8,9}
print("set1 is:",set1)
print("set2 is:",set2)
s=set1.intersection(set2)
set1=set1-s
set2=set2-s
set1.update(set2)
set3=set1
print("new set3 is:",set3)

set1 is: {1, 2, 3, 4, 5, 6, 7}
set2 is: {4, 5, 6, 7, 8, 9}
new set3 is: {1, 2, 3, 8, 9}

q2: Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

In [68]:
set1={1,2,4,5,6,7,8,10}
set2={23,4,5,3,22,33,44}
set1=set1.difference(set2)
print(set1)

{1, 2, 6, 7, 8, 10}

q3: WAP to Check if two sets have any elements in common. If yes, display the common elements

In [35]:
set1={1,2,3,4,5,6,7}
set2={4,5,6,7,8,9}
if (len(set1.intersection(set2))==0):
    print("No common values.")
else:
    print("Common values are:",set1.intersection(set2))

Common values are: {4, 5, 6, 7}

q4: WAP to Update set1 by adding items from set2, except common items

In [34]:
set1={1,2,3,4,5,6,7}
set2={4,5,6,7,8,9,10,11}
set3=set1.intersection(set2)
set2=set2-set3
set1.update(set2)
print("updates set is:",set1)

updates set is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

q5: WAP to get the maximum and minimum element in a set in Python, using the built-in functions of Python

In [12]:
set1={1,2,3,4,3,78,1,98,78}
print("maximum element is set is:",max(set1))
print("minium element in set is:",min(set1))

maximum element is set is: 98
minium element in set is: 1

q6: Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [13]:
dict1={}
keys=['Ten','Twenty','Thirty']
values=[10,20,30]
for i in range(3):
    dict1[keys[i]]=values[i]
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

q7: Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.

Sample string : 'AIMLTraining'

Expected output: {'A': 1, 'I': 1, 'M': 1, 'L': 1, 'T': 1, 'r': 1, 'a': 1, 'i': 2, 'n': 2, 'g': 1}

In [17]:
list1=list(input("Enter the string:"))
list1.remove(' ')
dict1={}
for i in list1:
    dict1[i]=list1.count(i)
print(dict1)

Enter the string:AIML Training
{'A': 1, 'I': 1, 'M': 1, 'L': 1, 'T': 1, 'r': 1, 'a': 1, 'i': 2, 'n': 2, 'g': 1}

q8: Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:

item4 55

item1 45.5

item3 41.3

In [61]:
dict1={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
list1=list(dict1.keys())
list3=[]
list2=list(dict1.items())
for i in list2:
    list3.append(i[1])
list3.sort()
list3=list3[-3:]
print("Top 3items in shop is:")
for j in list3:
    for k in dict1:
        if(dict1[k]==j):
            print(k,dict1[k])

Top 3items in shop is:
item3 41.3
item1 45.5
item4 55

q9:Write a Python program to filter a dictionary based on values.

Original Dictionary:

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Marks greater than 170:

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [30]:
dict1={'Cierra Vega':175,'Alden Cantrell':180,'Kierra Gentry':165,'Pierre Cox':190}
x=int(input("Enter the marks that are greater than:"))
list1=list(dict1.keys())
for i in list1:
    if dict1.get(i)<x:
        dict1.pop(i)
print(dict1)

Enter the marks that are greater than:170
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}