
 Download CSV File from link - https://drive.google.com/file/d/1OmUctbaMnIxNhyyLYG2iJOtkclZvs0TB/view?usp=sharing

q1: From the given dataset print the first and last five rows

In [1]:
import pandas as pd
df=pd.read_csv("Automobile_data.csv")
print("First five rows are:\n",df.head(5))
print("Last five rows are:\n",df.tail(5))

First five rows are:
    Unnamed: 0  index      company   body-style  wheel-base  length  \
0           0      0  alfa-romero  convertible        88.6   168.8
1           1      1  alfa-romero  convertible        88.6   168.8
2           2      2  alfa-romero    hatchback        94.5   171.2
3           3      3         audi        sedan        99.8   176.6
4           4      4         audi        sedan        99.4   176.6

  engine-type num-of-cylinders  horsepower  average-mileage    price
0        dohc             four         111               21  13495.0
1        dohc             four         111               21  16500.0
2        ohcv              six         154               19  16500.0
3         ohc             four         102               24  13950.0
4         ohc             five         115               18  17450.0
Last five rows are:
     Unnamed: 0  index     company body-style  wheel-base  length engine-type  \
56          56     81  volkswagen      sedan        97.3   171.7         ohc
57          57     82  volkswagen      sedan        97.3   171.7         ohc
58          58     86  volkswagen      sedan        97.3   171.7         ohc
59          59     87       volvo      sedan       104.3   188.8         ohc
60          60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

q2: Clean the dataset and update the CSV file. Replace all column values which contain ?, n.a, or NaN with ?

In [9]:
df2=pd.read_csv("Automobile_data.csv")
df2=df2.fillna("?")
print(df2)

    Unnamed: 0  index      company   body-style  wheel-base  length  \
0            0      0  alfa-romero  convertible        88.6   168.8
1            1      1  alfa-romero  convertible        88.6   168.8
2            2      2  alfa-romero    hatchback        94.5   171.2
3            3      3         audi        sedan        99.8   176.6
4            4      4         audi        sedan        99.4   176.6
..         ...    ...          ...          ...         ...     ...
56          56     81   volkswagen        sedan        97.3   171.7
57          57     82   volkswagen        sedan        97.3   171.7
58          58     86   volkswagen        sedan        97.3   171.7
59          59     87        volvo        sedan       104.3   188.8
60          60     88        volvo        wagon       104.3   188.8

   engine-type num-of-cylinders  horsepower  average-mileage  price
0         dohc             four         111               21  13495
1         dohc             four         111               21  16500
2         ohcv              six         154               19  16500
3          ohc             four         102               24  13950
4          ohc             five         115               18  17450
..         ...              ...         ...              ...    ...
56         ohc             four          85               27   7975
57         ohc             four          52               37   7995
58         ohc             four         100               26   9995
59         ohc             four         114               23  12940
60         ohc             four         114               23  13415

[61 rows x 11 columns]

q3: Print most expensive car’s company name and price.

In [10]:
df1=df[['company','price']][df['price']==df['price'].max()]
print(df1)

          company    price
35  mercedes-benz  45400.0

q4: Print All Toyota Cars details

In [4]:
df2 = df[df['company']=='toyota']
print(df2)

    Unnamed: 0  index company body-style  wheel-base  length engine-type  \
48          48     66  toyota  hatchback        95.7   158.7         ohc
49          49     67  toyota  hatchback        95.7   158.7         ohc
50          50     68  toyota  hatchback        95.7   158.7         ohc
51          51     69  toyota      wagon        95.7   169.7         ohc
52          52     70  toyota      wagon        95.7   169.7         ohc
53          53     71  toyota      wagon        95.7   169.7         ohc
54          54     79  toyota      wagon       104.5   187.8        dohc

   num-of-cylinders  horsepower  average-mileage    price
48             four          62               35   5348.0
49             four          62               31   6338.0
50             four          62               31   6488.0
51             four          62               31   6918.0
52             four          62               27   7898.0
53             four          62               27   8778.0
54              six         156               19  15750.0

q5: Count total cars per company

In [5]:
df5=df.groupby(['company'])['company'].count()
print(df5)

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

q6: Find each company’s Higesht price car

In [6]:
df6=df.groupby(['company'])['price'].max()
print(df6)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

q7: Find the average mileage of each car making company

In [7]:
df7=df.groupby(['company'])['average-mileage'].mean()
print(df7)

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

q8: Sort all cars by Price column

In [8]:
df8=df.sort_values('price')
print(df8)

    Unnamed: 0  index        company body-style  wheel-base  length  \
13          13     16      chevrolet  hatchback        88.4   141.1
27          27     36          mazda  hatchback        93.1   159.1
48          48     66         toyota  hatchback        95.7   158.7
36          36     49     mitsubishi  hatchback        93.7   157.3
28          28     37          mazda  hatchback        93.1   159.1
..         ...    ...            ...        ...         ...     ...
11          11     14            bmw      sedan       103.5   193.8
35          35     47  mercedes-benz    hardtop       112.0   199.2
22          22     31          isuzu      sedan        94.5   155.9
23          23     32          isuzu      sedan        94.5   155.9
47          47     63        porsche  hatchback        98.4   175.7

   engine-type num-of-cylinders  horsepower  average-mileage    price
13           l            three          48               47   5151.0
27         ohc             four          68               30   5195.0
48         ohc             four          62               35   5348.0
36         ohc             four          68               37   5389.0
28         ohc             four          68               31   6095.0
..         ...              ...         ...              ...      ...
11         ohc              six         182               16  41315.0
35        ohcv            eight         184               14  45400.0
22         ohc             four          70               38      NaN
23         ohc             four          70               38      NaN
47       dohcv            eight         288               17      NaN

[61 rows x 11 columns]